@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Oswald:wght@300&display=swap');


/* GENERAL RULES */
*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #a3a3a3
}

/* headings and logo */

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform:uppercase;
    letter-spacing: 4px;
    color: #252525
}

#logo{
    float: left;
    font-size:200%;
    margin-left: 50px;
}

#section-menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 50px;
}

#section-menu, #logo {
    line-height: 75px;
}
#section-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#section-menu a {
    text-decoration: none;
    color: inherit;
}

#section-menu a:hover {
    border-bottom: 1px solid #a3a3a3;
}

.active {
    border-bottom: 1px solid #a3a3a3;
}

/* HOME - main image and text box*/

#main-outer{
        height: 480px;
        width: 100%;
        overflow: hidden;
        position: relative;
    
}

#main-image {
    height: 400px;
    width: 100%;
    background: url('../images/main\ image.jpg') no-repeat center center;
    background-size: cover;

    /* animates zoom effecton loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for main image */
@keyframes main-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    
    width: 500px;
    height: 120px;

    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgba(163, 219, 241, 0.7);
    border-radius: 15px;

    bottom: -10px;
    left: 100px;

    position: absolute;
}

#cover-text, #cover-text h2 {
    color: #3003f8d3;
}

#cover-text h2 {
    margin-bottom: 15px;
}


/* section two - about us */

#surf-club {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float:left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float:right;
}

#center-about {
    padding-top: 30px;
    width: 100%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}

.right-about-heading h2{
    text-align: right;  
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 50px 0;
    font-size: 200%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: none;
    border-color: #ccc;
    border-width: 1px;
    margin: 5px auto ;
}

#circle-cover-bg {
    background: url('../images/section\ two.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/* Surfing Academy Section - index.html */

#sacademy-outer{
    margin-top: 100px;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#sacademy-image {
height: 400px;
width: 100%;
background: url('../images/sacademymain.jpg') no-repeat center center;
background-size: cover;
}

#scover-text {
    font-size: 100%;
    letter-spacing: 3px;
    text-align: center;
    width: 200px;
    height: 150px;
    padding: 20px;
    background-color: rgba(163, 219, 241, 0.7);
    border-radius: 15px;
    margin: -250px;
    right: 400px;
    position: absolute;
}

#scover-text, #scover-text h2 {
    color: #3003f8d3;
}

#scover-text:hover {
    background-color: rgba(163, 219, 241, 0.925);
}

#scover-text a {
    text-decoration: none;
}


/* FOOTER - social media  */

footer {
    height: 50px;
}

#address {
    font-family: Kalam, sans-serif;
    margin-top: 20px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#address p{
    color:#252525;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Surf Academy page */

#programs {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#programs div {
    margin: 100px;
    margin-right: 30px;
    background-color: #fafafa;
    width: 400px;
    height: 800px;
    padding: 20px 0;
    text-align: center;
    border: 5px solid #3003f8d3;
    border-radius: 20px;
    list-style-position: outside;
}

ul {
    list-style-type: circle;
    padding: 25px;
}

ul li {
    padding: 8px 16px
}

#programs h2 {
    font-size: x-large;
    margin: 10px 5px;
}

#programs h3 {
    font-size: large;
    margin: 5px auto;
    padding: 30px;
}

#programs hr {
    border-top: 2px solid #3003f8d3;
    width: 80%;
    margin: 5px auto;
}

#programs a {
    display: inline-block;
    margin: 20px;
}

/* Button Styling */

.button {
    background: #3003f8d3;
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.button:hover {
    background: white;
    border: 2px solid #3003f8d3;
    color: #3003f8d3;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

/* Contact page */

.contactus-section {
    background: url(../images/contactus2.jpg);
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;
    align-content: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 5px;
    padding-bottom: 70px;
}

.form-section {
    clear: both;
    max-width: 800px;
    width: 100%;
    padding-bottom: 120px;
}

.sign-up-form {
    margin: 150px 10% 0 10%;
    color: #3a3a3a;
    background-color:rgba(219, 215, 215, 0.829);
    padding: 30px;
}

.sign-up-form h2 {
    text-align: center;
}

.sign-up-form h3 {
    margin: 10px 0 5px 0;
}

.text-input {
    margin: 10px 8% 20px 2%;
    background: transparent;
    height: 25px;
    width: 90%;
    border: 2px solid #3003f8d3;
    border-radius: 4px;
}

#message {
    margin: 10px 0 20px 0;
    width: 100%;
    border: 2px solid #3003f8d3;
    border-radius: 4px;
}

#message-box-label {
    font-size: 20px;
}

.form-submit-button {
    background: #3003f8d3;
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'lato', sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.form-submit-button:hover {
    background: white;
    border: 2px solid #3003f8d3;
    color: #3003f8d3;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'lato', sans-serif;
    font-size: x-large;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}