@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Oswald:wght@300&display=swap');


/* GENERAL RULES */
*{
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #a3a3a3
}


/* headings and logo */

h1, h2 {
    font-family: oswald, sans-serif;
    text-transform:uppercase;
    letter-spacing: 4px;
    color: #252525
}

#logo{
    float: left;
    font-size:200%;
    margin-left: 50px;
      
}

#section-menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 50px;    
}

#section-menu, #logo {
    line-height: 75px;
}
#section-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}

#section-menu a {
    text-decoration: none;
    color: #252525;
}

#section-menu a:hover {
    border-bottom: 1px solid #a3a3a3;
}

.active {
    border-bottom: 1px solid #a3a3a3;
}

/* HOME - main image and text box*/

#main-outer{
        height: 480px;
        width: 100%;
        overflow: hidden;
        position: relative;
    
}

#main-image {
    height: 480px;
    width: 100%;
    background: url('../images/main\ image.jpg') no-repeat center center;
    background-size: cover;
    

    /* animates zoom effecton loading page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

    /* creates the level of zoom for main image */
    @keyframes main-zoom {
        from {
            transform: scale(1);
        }
        to{
            transform: scale(1.1);
        }
}

#cover-text {
    font-size: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    
    width: 400px;
    height: 100px;

    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgba(163, 219, 241, 0.7);
    border-radius: 30px;

    bottom: 75px;
    left: 100px;

    position: absolute;
}

#cover-text, #cover-text h2 {
    color: black;
}

#cover-text h2 {
    margin-bottom: 15px;
}


/* section two - about us - core advantages */

.section-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#surf-club {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#surf-club > div {
    margin: 50px;
    background-color: #fafafa;
    width: 400px;
    height: 300px;
    padding: 20px 20px;
    text-align: center;
    border: 3px solid #03000ed3;
    border-radius: 20px;
    position: relative;
}

hr {
    border-top: 2px solid #03000ed3;
    width: 100%;
    margin: 5px 0;
}



/* Surfing Academy Banner - link to Sur academy page */

#sacademy-outer{
    margin-top: 100px;
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#sacademy-image {
height: 400px;
width: 100%;
background: url('../images/sacademymain.jpg') no-repeat center center;
background-size: cover;
}

#scover-text {
    font-size: 100%;
    font-weight: bolder;
    letter-spacing: 4px;
    text-align: center;
    width: 200px;
    height: 150px;
    padding: 20px;
    background-color: rgba(163, 219, 241, 0.7);
    border-radius: 15px;
    margin: -250px;
    left: 500px;
    position: absolute;
}

#scover-text, #scover-text h2 {
    color: black;
}

#scover-text:hover {
    background-color: rgba(163, 219, 241, 0.925);
}

#scover-text a {
    text-decoration: none;
}


/* FOOTER - social media  */

footer {
    background-color: #f7f5f5;
    height: 200px;

}

#address {
    font-family: Lato, sans-serif;
    margin-top: 40px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 20px
}

#address p{
    color:#252525;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 5px;
    padding: 5px;
    color: #3a3a3a;
}

/* Surf Academy page */

#programs {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#programs div {
    margin: 30px;
    margin-right: 30px;
    background-color: #fafafa;
    width: 400px;
    height: 600px;
    padding: 10px 0;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    list-style-position: outside;
}

#beginner-image {
    height: 150px;
    width: 100%;
    background: url('../images/beginner.jpg') no-repeat center center;
    background-size: contain;
    }

#intermediate-image {
    height: 150px;
    width: 100%;
    background: url('../images/intermediate.jpg') no-repeat center center;
    background-size: contain;
}
#advanced-image {
    height: 150px;
    width: 100%;
    background: url('../images/advanced.jpg') no-repeat center center;
    background-size: contain;
}        

#workshop-image {
    height: 140px;
    width: 100%;
    background: url('../images/workshop1.jpg') no-repeat center center;
    background-size: contain;
}
#programs h2 {
    font-size: x-large;
    margin: 10px 5px;
}

#programs h3 {
    font-size: medium;
    margin: 5px auto;
    padding: 30px;
}

#programs hr {
    border-top: 2px solid black;
    width: 80%;
    margin: 2px auto;
}

#programs a {
    display: inline-block;
    margin: 20px;
}

/* More Info Button - link to contact page */

.button {
    background: black;
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
}
.button:hover {
    background: white;
    border: 2px solid black;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: medium;
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: none;
}

/* Contact Us page - backgroung image and form */

.contactus-outer {   
    clear: both;
    padding-top: 2vw;
    
}

.contactus-section {
    background: url(../images/section\ two.jpg);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80vw;    
    align-content: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-bottom: 50px;

}

.sform {
    margin: 5vw auto;
    width: 70%;    
    color: #3a3a3a;
    background-color:rgba(219, 215, 215, 0.829);
    padding: 50px;
    position: sticky;
}

.sform h2 {
    text-align: center;
}

.text-input {
    margin: 10px 0;
    background: transparent;
    height: 25px;
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

#message {
    margin: 10px 0 20px 0;
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

#message-box-label {
    font-size: 16px;
}

.form-submit-button {
    background: black;
    border: 2px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'lato', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.form-submit-button:hover {
    background: white;
    border: 2px solid black;
    color: black;
    padding: 10px 10px;
    border-radius: 5px;
    font-family: 'lato', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

/* Media queries */

/* For medium screen sizes from 1400px wide and down */
@media screen and (max-width: 1400px) {
    .contactus-section {
        width: 80%;
    }
    .sform {
        width: 70%;
    }
}
@media screen and (max-width: 1100px) {
    #logo{        
        
        align-items: normal;
        text-align: left;
        width: 80%;
    }
    
    #section-menu {
        width: 80%;
        clear: right;
        float: right;
        margin-left: 50px;
        margin-bottom: 20px;
        line-height: 25px;
    }  
    
    .contactus-section {
        width: 85%;        
    }
    .sform {
        width: 70%;
    }

}

/* For medium screen sizes from 600px wide and down */
@media screen and (max-width:600px) {
    #logo {
        width: 60%;
    }
    #section-menu{
        width: 60%;
        text-align: right;
    }
    #cover-text {
        left: 0;
        width: 200px;
        height: 150px;
        margin-left: 20px;
    }
    #scover-text {         
        left: 0;
        margin-left: 20px;        
    }

    .contactus-section {
        width: 85%;
        
    }
    .sform {
        width: 70%;

    }
    
}

/* For medium screen sizes from 490px wide and down */
@media screen and (max-width:490px) {
    #surf-club > div {
        margin: 0;
        width: 400px;
        height: auto;               
    }

     /* surf academy page */ 
     #programs div {
        margin: 0;                
    }

    .contactus-section {
        width: 80%;
        
    }
    .sform {
        width: 55%;

    }

}


